<h1 mat-dialog-title class="editar-curso" appTituloEstilo>Editar Curso - {{curso.nombre}}</h1>
<div mat-dialog-content style="width: 400px; padding: 10%;">
    <form [formGroup]="form" class="formulario">
        <mat-form-field class="col-md-7">
            <mat-label>Nombre</mat-label>
            <input matInput autocomplete="off" formControlName="nombre">
        </mat-form-field>
        <div class="invalido" *ngIf="form.controls['nombre'].dirty && form.controls['nombre'].errors?.['required']">
            Completar</div>
        <mat-form-field class="col-md-7">
            <mat-label>Comision</mat-label>
            <input matInput autocomplete="off" formControlName="comision">
        </mat-form-field>
        <div class="invalido" *ngIf="form.controls['comision'].dirty && form.controls['comision'].errors?.['required']">
            Completar</div>
        <mat-form-field class="col-md-7">
            <mat-label>Profesor</mat-label>
            <mat-select formControlName="profesor">
                <mat-option *ngFor="let profesor of profesor$ | async"
                    [value]="profesor">{{profesor.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="invalido" *ngIf="form.controls['profesor'].dirty && form.controls['profesor'].errors?.['required']">
            Completar</div>
        <mat-form-field class="col-md-7" appearance="fill">
            <mat-label>Inscripcion</mat-label>
            <mat-select formControlName="inscripcionAbierta">
                <mat-option *ngFor="let boolean of inscripcion" [value]="boolean">{{boolean}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid"
            (click)="editCurso()">{{actionBtn}}</button>
        <button mat-raised-button color="warn" mat-dialog-close="">Cerrar</button>
    </div>
</div>