<div class="container">
    <div class="subtittle">
        <h2 class="agregar-alumno" appTituloEstilo>Crear Alumno</h2>
    </div>

    <mat-card appearance="outlined">
        <form [formGroup]="form" (ngSubmit)="createAlumno()">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" formControlName="nombre">
                    </mat-form-field>
                    <div class="valido" *ngIf="form.controls['nombre'].valid">Campo correcto</div>
                        <div class="invalido"
                            *ngIf="form.controls['nombre'].dirty && form.controls['nombre'].errors?.['required']">
                            Completar</div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="6">
                    <img src="../../../../../assets/alumno.jpg">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Apellido</mat-label>
                        <input matInput autocomplete="off" formControlName="apellido">
                    </mat-form-field>
                    <div class="valido" *ngIf="form.controls['apellido'].valid">Campo correcto</div>
                        <div class="invalido"
                            *ngIf="form.controls['apellido'].dirty && form.controls['apellido'].errors?.['required']">
                            Completar</div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Curso</mat-label>
                        <mat-select formControlName="curso">
                            <mat-option *ngFor="let curso of curso$ | async" [value]="curso">{{curso.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Comision</mat-label>
                        <input matInput autocomplete="off" formControlName="comision">
                    </mat-form-field>
                    <div class="valido" *ngIf="form.controls['comision'].valid">Campo correcto</div>
                        <div class="invalido"
                            *ngIf="form.controls['comision'].dirty && form.controls['comision'].errors?.['required']">
                            Completar</div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Email</mat-label>
                        <input matInput autocomplete="off" formControlName="email">
                    </mat-form-field>
                    <div class="valido" *ngIf="form.controls['email'].valid">Campo correcto</div>
                        <div class="invalido"
                            *ngIf="form.controls['email'].dirty && form.controls['email'].errors?.['required']">
                            Completar</div>
                        <div class="invalido"
                            *ngIf="form.controls['email'].dirty && form.controls['email'].errors?.['pattern']">
                            Formato incorrecto</div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid"
                        style="margin: 1rem; width: 60%;">Guardar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>